body{
    font-family: 'Poppins', sans-serif;
}

.honda-bg{
    background-color: #264653;
}

.honda-btn{
    background-color: #E76F51;
}

.honda-text-color{
    color:#E76F51;
}

.img-gray {
    filter: grayscale(100%);
  }

  .cliet-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}